*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #E9E9E9;
	font-size: 13px;
	padding: 0;
	margin: 0;
	min-width: 1200px;
	color: var(--primary-color);
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.s-alert-success {
	background: var(--success-color);
}

.s-alert-error {
	background: var(--error-color);
}

::-webkit-scrollbar {
	width: 8px;
	background: white;
}

::-webkit-scrollbar-thumb {
	background-color: var(--disabled-color);
	border-radius: 4px;
	min-height: 50px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
	z-index: 50;
}

.r-segmented-control > ul > li.blueish {
	border-color: #e9e9e9 !important;
	color: rgb(0,122,255);
	background: #fff !important;
}

.r-segmented-control > ul > li.blueish.selected {
	color: #fff !important;
	border-radius: 3px;
	border-color: #e9e9e9 !important;
	background-color: #3b5173 !important;
}

.r-segmented-control > ul > li.blueish {
	border-color: #e9e9e9 !important;
	color: #3b5173 !important;
	background: #fff !important;

}

.r-segmented-control {
	border-bottom: 0px !important;
}
