:root {
	--primary-color: #334768;
	--active-color: #203351;
	--accent-color: #00B7FF;
	--success-color: #8DD21F;
	--warning-color: #E8BB08;
	--error-color: #DE313A;
	--notification-color: #DD2E37;
	--disabled-color: #EAEAEA;
	--unknown-color: #b6b6b6;
	--inactive-color:#fefdd0;
	--left-side-with: 304px;


	--timing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
	--timing-deceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
	--timing-acceleration: cubic-bezier(0.4, 0.0, 1, 1);
	--timing-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);
}
